[submodule "JonasPluginBase"]
	path = JonasPluginBase
	url = https://github.com/rappen/JonasPluginBase
[submodule "Rappen.XTB.Helper"]
	path = Rappen.XTB.Helper
	url = https://github.com/rappen/Rappen.XTB.Helper
